/*Universal Styles*/
html {
  font-size: 16px;
  font-family: "Cabin", "Indie Flower", "Modak";
}
body {
  background-color: black;
}
h1 {
  font-family: "Cabin";
}

.bold {
  font-weight: bold;
}
.text-white {
  color: white;
  font-size: 2rem;
}
.text-black {
  color: black;
  font-size: 2rem;
}
.text-khaki {
  color: #f0e68c;
  font-size: 2rem;
}
.text-lemonChiffon {
  color: #fffacd;
  font-size: 2rem;
}
.shadow {
  text-shadow: 1px 1px 1px #FFD700, 2px 2px 2px black, 1px 1px 2px #B8860B;
}
.b-shadow {
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black, -1px -1px 0 black;
}
.darkgold, strong, span {
  color: #B8860B;
}

.first {
  margin-left: 5rem;
}
.center {
  text-align: center;
}
.glyphicon {
  color: #B8860B;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
.opacity {
  opacity: 0. 85;
}
a.fa.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 100px;
  max-width: 7px;
  padding-left: 9px;
  padding-bottom: 8px;
  padding-right: 22px;
  padding-top: 8px;
  margin-top: 7px;
}
/*Navigation*/
nav.navbar.navbar-inverse.navbar-fixed-top {
  padding: 1rem;
  background-color: #000;
}
.navbar .navbar-header a {
  color: #ccc;
  font-family: sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px #b8860b;
  opacity: 1;
}
.navbar .navbar-header a:hover {
  font-weight: bold;
}

.navbar-inverse .navbar-nav li a {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #b8860b;
}

li a {
  margin-right: 1.5rem;
}

.glyphicon {
  margin-top: 1rem;
}
.glyphicon .glyphicon-star {
  display: inline-block;
  margin-top: 0;
  color: white;
}
/*Jumbotron*/
.jumbotron {
  padding: 18rem;
  margin-bottom: 0;
}
.jumbotron-team {
  background-image: url("https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/21616187_905636082938948_8497771317012693222_n.jpg?oh=12ba583158e4bb4c57244d380f536a53&oe=5A4A6F84");/*Make sure to change this to the correct file location!!!*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.jumbotron-logo {
  background-image: url("https://github.com/J2smoov4u/allstars/blob/master/resources/images/team-logo.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.jumbotron-pregame {
  background-image: url("https://github.com/J2smoov4u/allstars/blob/master/resources/images/ma-basketball/team/IMG_7677.JPG?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.jumbotron-huddle {
  background-image: url("https://github.com/J2smoov4u/allstars/blob/master/resources/images/ma-basketball/team/IMG_8030.JPG?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.jumbotron-logo {
  background-image: url("https://github.com/J2smoov4u/allstars/blob/master/resources/images/team-logo.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.relative-wrapper {
  z-index: 10;
  position: relative;
  top: -16rem;
  width: 100%;
  text-align: center;
  padding: 5rem;
}
.schwalbe {
  width: 50%;
  height: 200px;
  overflow: hidden;
}
.schwalbe img {
  max-width: 100%;
  height: auto;
  display: block;
}
#desc {
  font-size: 1.25rem;
  text-align: left;
  color: dimGray;
  /*text-shadow: 1px 1px 0 #b8860b, -1px -1px 0 #b8860b, 1px 1px 0 #b8860b, -1px -1px 0 #b8860b;*/
  line-height: 1.4;
}
 .main {
   position: relative;
   bottom: 11.25rem;
   border-right: 5px solid #b8860b;
   border-left: 5px solid #b8860b;
   background-color: white;
   padding: 1rem;
 }
.team-gallery {
  border-right: 5px solid #b8860b;
  border-left: 5px solid #b8860b;
  width: 85%;
  height: auto;
  /*overflow: scroll;*/
  margin: auto;
}
div.gallery {
  margin: 1rem;
  border: 1px solid #ccc;
  /*float: left;*/
  width: 180px;
}
div.gallery:hover {
  border: 2px solid #b8860b;
}
.foto {
  width: 100%;
  text-align: center;
}
.foto h3 {
  margin: 2rem;
  padding: .5rem;
  font-size: 3rem;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: auto;
}
div.gallery img {
  width: 100%;
  height: auto;

}
/*div.img-desc {
  padding: 15px;
  text-align: center;
  background-color: #ccc;
}*/




/*   TEAM PAGE   */
.team-header {
  background-image: url("https://github.com/J2smoov4u/allstars/blob/master/resources/images/ma-basketball/team/IMG_8408.JPG?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.team-header h1 {
  padding-top: 19.5rem;
  padding-bottom: 5rem;
  color: white;
  margin-top: 75px;
  font-family: "indie flower", "Cabin";
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #B8860B;
}
a.btn.btn-primary.btn-lg {
  background-color: gray;
  border: 2px solid black;
  padding: 1.25rem;
}
a.btn.btn-primary.btn-lg:hover {
  opacity: .75;
  border-color: white;
}
#meet, #games {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ccc;
  color: #ccc;
  font-size: 2.5rem;
  max-width: 75%;
  margin: 1rem auto;
  margin-top: 1rem;
  min-height: 6.68rem;
  border: 2px solid black;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#profile-text {
  color: white;
}

.player-profile h2 {
  padding-top: 1.5rem;
  margin-top: 100px;
  margin-bottom: 50px;
}
.right {
  float: right;
}
/*Roster column section*/
.mtt, .gameplan {
  background-color: #B8860B;
  max-width: 100%;
  border-radius: 10px;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  max-width: 30.3%;
  margin-left: 25px;
  margin-bottom: 2rem;
  box-shadow: 7px 7px 7px black, 7px 7px 7px gray, 1px 1px 1px white;
  /*text-align: center;*/
  overflow: hidden;
}
/*.column:hover {
  overflow: hidden;
  transform:scale(1.1);
}*/
.image-container {
  overflow: hidden;
  overflow: hidden;
  transition: all 0.5 ease 0.5;

}
.image-container:hover {
  opacity: 1;
  transform: scale(1.02);
  overflow: hidden;
  transition: transform 500ms, opacity 500ms;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  width: 100%;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.card img {
  max-width: 100%;
  max-height: 22.5rem;
  overflow: hidden;
}

/*.card img:hover {
  transform: scale(1.3);
  min-height: 13.5rem;
  overflow: hidden;
  transition: transform 500ms;
}*/

.box-container {
  padding: 0 16px;
  background-color: white;
  max-height: 11rem;
  border: 2px solid black;
}

.box-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.box-container h2 {
  padding-top: 10px;
  margin-top: 0;
}
.title, .roster-number {
  color: grey;
  float: right;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black, -1px -1px 0 black;
}
#sanno{
  font-size: 1.65rem
}
.button {
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin: -20px auto;
}

.button:hover {
  background-color: #555;
}

div.roster-number {
  float: right;
}




/*   SCHEDULE PAGE   */
.home {
  background-color: black;
  color: white;
  padding: .25rem;
  /*transform: rotate(-90deg);*/
}
.away {
  background-color: gold;
  color: black;
  padding: .25rem;
  width: 175px;
  height: auto;
  transform: rotate(-90deg);
  margin: 0;
}
#schedule {
  background-color: darkgray;
}

.gameplan {
  background-color: #B8860B;
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10rem;
  margin-bottom: 2.5rem;
}
#games {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ccc;
  color: #ccc;
  font-size: 2.5rem;
  max-width: 75%;
  margin: 1rem auto;
  margin-top: 1rem;
  min-height: 6.68rem;
  border: 2px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 0;
}
.games {
  background-color: #B8860B;
  max-width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}
#sched {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ccc;
  color: #000;
  font-size: 2.5rem;
  max-width: 75%;
  margin: 1rem auto;
  margin-top: 1rem;
  min-height: 6.68rem;
  border: 2px solid black;
  /*border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;*/
}
.logo {
  max-width: 75px;
  height: auto;
  overflow: hidden;
  margin: auto;
  display: block;
}
.logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.middle {
  margin: auto;
}
.time {
  font-size: 1.25rem;

  text-align: center;
  font-stretch: extra-expanded;

}
.hall {
  font-size: 1.25rem;
  color: darkgray;
  text-align: center;
  margin-top: 1rem;
}
.score {
  text-align: center;
  margin: 0 auto;
  padding: 0;

}
.f-left {
  float: left;
  padding: 1rem;
}
.f-right {
  float: right;
  padding: 1rem;
}
